nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 10vh;
    position: fixed;
    z-index: 9999;
    width: 100%;
}
.color{
    background-color: #080808;
    box-shadow: 0px 0px 0.8px 0px #ffffffe6;
}
nav .hamburger{
    display: none;
}

nav .menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

@media (max-width: 700px) {
    nav .hamburger{
        display: block;
    }
    .menu{
        width: 100%;
        position: absolute;
        height: 100vh;
        top: 0;
        left: -100%;
        z-index: -1;
        flex-direction: column;
        gap: 30px;
        background-color: rgba(0, 0, 0, 0.9);
    }
    .active{
        left: 0;
    }
}